.expense-list {
  margin: 0 $s-size;
  // width: 100%;
}

.expense-list__title {
  background: $light-grey;
  font-size: $m-size;
  font-weight: 300;
  padding: $m-size;
  margin: 0;
  border: 1px solid $grey;
}

.expense-list__item {
  border: 1px solid $grey;
  border-top: none;
  a {
    text-decoration: none;
  }
  h3:hover {
    opacity: 1;
  }
  h3 {
    margin: 0;
    margin-left: $m-size;
    color: $dark-grey;
    opacity: 0.7;
    transition: all 1s ease-in;
  }
}

.expense-list__item__content {
  margin: 0 $m-size;
  font-size: $s-size;
  display: flex;
  justify-content: space-between;
  b {
    opacity: 0.7;
  }
}

@media (min-width: $desktop-breakpoint) {
  .expense-list {
    width: 80%;
  }
}
