.header {
  text-align: center;
  color: $dark-grey;
}

.header__title {
  background: $dark-grey;
  color: white;
  padding: 0;
  margin: 0;
}

.header__navigation {
  padding: $s-size;
}

.header__navigation * {
  text-decoration: none;
  color: $dark-grey;
  padding: 0 $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .header__title {
    padding: $l-size;
  }
  .header__navigation {
    padding: $m-size;
  }
  .header__navigation * {
    padding: 0 $l-size;
  }
}
